[defaults]

inventory = inventory.ini 
log_path = /var/log/ansible.log  # we are saying that inventory file is in present working directory # we are saying that logs shoul be writable in this directory